<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="bg-light min-vh-100">
  <%- include('./partials/navbar') %>
  <div class="container col-md-8 col-xl-6">
    <div class="mt-5">
      <div class="d-flex justify-content-between align-items-center">
        <h4>update Post</h4>
      </div>

      <form action="/dashboard/update/<%- post.id %>" class="d-flex flex-column gap-3 mt-3" method="post">
        <div>
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="title" placeholder="Enter post title here" value="<%- post.title %>">
        </div>
        <div>
          <label for="description" class="form-label">Description</label>
          <textarea type="text" name="description" class="form-control" id="description" placeholder="Enter post description here"><%- post.description %></textarea>
        </div>
        <div>
          <label for="content" class="form-label">Content</label>
          <textarea type="text" name="content" class="form-control" id="content" placeholder="Enter post content here" rows="7"><%- post.content %></textarea>
        </div>
        <div class="d-flex gap-1 align-items-center mt-2">
          <button type="submit" class="btn btn-success">Update</button>
          <a href="/dashboard" class="btn btn-warning">Cancel</a>
        </div>
      </form>

    </div>
  </div>
</body>

</html>