<div class="card bg-transparent border-0 p-0">
  <div class="card-body px-1">
    <h4 class="card-title mb-1">
      <a href="/<%= post.slug %>" class="card-title text-decoration-none"><%= post.title %></a>
    </h4>
    <div class="d-flex align-item-center gap-2 mb-3">

      <% if (category) { %>
      <a href="/<%= category.slug %>" class="text-decoration-none text-success fw-bold"><%= category.title %></a>
      <% } else { %>
      <a href="/uncategorized" class="text-decoration-none text-success fw-bold">Uncategorized</a>
      <% }%>
      |
      <span>
        <%= new Date(post.createdAt).toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) %>
      </span>
    </div>
    <p class="card-text"><%= post.description %></p>
    <a href="/<%= post.slug %>" class="card-link">Read more</a>
  </div>
</div>