<!-- Include stylesheet -->
<link href="/css/quill.snow.css" rel="stylesheet">

<form id="form" action="<%- path %>" class="d-flex flex-column gap-3 mt-3 needs-validation" method="post" novalidate>
  <div>
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" class="form-control <% if (errors?.title) { %>is-invalid<% } %>" id="title" placeholder="Enter post title here" value="<%- post.title %>" required>
    <% if (errors?.title) { %>
    <div class="invalid-feedback"><%= errors.title.msg %></div>
    <% } %>
  </div>
  <div>
    <label for="description" class="form-label">Description</label>
    <textarea type="text" name="description" class="form-control <% if (errors?.description) { %>is-invalid<% } %>" id="description" placeholder="Enter post description here"><%- post.description %></textarea>
    <% if (errors?.description) { %>
    <div class="invalid-feedback"><%= errors.description.msg %></div>
    <% } %>
  </div>
  <div>
    <label for="content" class="form-label">Content</label>
    <input name="content" class="d-none <% if (errors?.content) { %>is-invalid<% } %>">
    <div id="editor" style="height: 200px;"><%- post.content %></div>
    <% if (errors?.content) { %>
    <div class="invalid-feedback"><%= errors.content.msg %></div>
    <% } %>
  </div>
  <div class="d-flex gap-1 align-items-center mt-2">
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/dashboard" class="btn btn-warning">Cancel</a>
  </div>
</form>

<!-- Include the Quill library -->
<script src="/js/quill.js"></script>
<!-- Initialize Quill editor -->
<script>
  const toolbarOptions = [
    [{
        "size": ["small", false, "large", "huge"],
      },
      {
        'header': [1, 2, 3, 4, 5, 6, ]
      }
    ],
    ["bold", "italic", "underline", "strike", ],
    [{
      "color": []
    }, {
      "background": []
    }],

    [{
      "script": "sub"
    }, {
      "script": "super"
    }],

    [
      "blockquote", "code-block"
    ],

    [{
      "list": "ordered"
    }, {
      "list": "bullet"
    }, {
      "indent": "-1"
    }, {
      "indent": "+1"
    }],

    [{
      "direction": "rtl"
    }, {
      "align": []
    }],

    ["link", "video", "formula"],

    ["clean"]
  ]
  var quill = new Quill('#editor', {
    theme: 'snow',
    modules: {
      toolbar: toolbarOptions
    },
  });

  document.getElementById('form').addEventListener("submit", (e) => {
    const content = document.querySelector('input[name="content"]');
    content.value = quill.root.innerHTML
  })
</script>