<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="bg-light">
  <%- include("./partials/navbar") %>
  <div class="container col-md-8 col-xl-6">
    <div class="py-5">
      <h1 class="h2"><%= data.title %></h1>
      <span class="text-muted fs-5"><%= new Date(data.updatedAt).toLocaleString() %></span>
      <div class="alert alert-warning mt-2">
        <%= data.description %>
      </div>
      <div style="white-space: pre-line;">
        <%- data.content %>
      </div>
    </div>
  </div>
</body>

</html>